{% extends 'AppSkeletonCmsBundle::base.html.twig' %}

{% block body -%}
<div class="sortable row-fluid">

	<a href="{{ path('users') }}" class="quick-button span2">
		<i class="fa-icon-user"></i>
		<p>Users</p>
		<span class="notification">1.367</span>
	</a>
	<a href="{{ path('groups') }}" class="quick-button span2">
		<i class="fa-icon-group"></i>
		<p>Groups</p>
		<span class="notification green">167</span>
	</a>
	<a href="{{ path('posts') }}" class="quick-button span2">
		<i class="fa-icon-file"></i>
		<p>Posts</p>
	</a>
	<a href="{{ path('categories') }}" class="quick-button span2">
		<i class="fa-icon-tags"></i>
		<p>Categories</p>
	</a>
	<a href="{{ path('links') }}" class="quick-button span2">
		<i class="fa-icon-link"></i>
		<p>Links</p>
	</a>
	<a href="{{ path('attachments') }}" class="quick-button span2">
		<i class="fa-icon-upload-alt"></i>
		<p>Attachments</p>
		<span class="notification red">68</span>
	</a>
</div>

<hr />

<div class="sortable row-fluid">
	<a href="{{ path('contacts') }}" class="quick-button span2">
		<i class="fa-icon-book"></i>
		<p>Contacts</p>
		<span class="notification red">68</span>
	</a>
	<a href="{{ path('types') }}" class="quick-button span2">
		<i class="fa-icon-flag"></i>
		<p>Types</p>
		<span class="notification red">68</span>
	</a>

</div>
{% endblock %}