<!-- start: Main Menu -->
<div class="span2 main-menu-span">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li>
				<a href="{{ path('dashboard') }}"><i class="fa-icon-home"></i><span class="hidden-tablet"> Dashboard</span></a>
			</li>
			<li>
				<a href="{{ path('posts') }}"><i class="fa-icon-file"></i><span class="hidden-tablet"> Posts</span></a>
			</li>
			<li>
				<a href="{{ path('categories') }}"><i class="fa-icon-tags"></i><span class="hidden-tablet"> Categories</span></a>
			</li>
			<li>
				<a href="{{ path('types') }}"><i class="fa-icon-flag"></i><span class="hidden-tablet"> Types</span></a>
			</li>
			<li>
				<a href="{{ path('links') }}"><i class="fa-icon-link"></i><span class="hidden-tablet"> Links</span></a>
			</li>
			<li>
				<a href="{{ path('attachments') }}"><i class="fa-icon-upload-alt"></i><span class="hidden-tablet"> Attachments</span></a>
			</li>
			<li>
				<a href="{{ path('contacts') }}"><i class="fa-icon-book"></i><span class="hidden-tablet"> Contacts</span></a>
			</li>
			<li>
				<a href="{{ path('users') }}"><i class="fa-icon-user"></i><span class="hidden-tablet"> Users</span></a>
			</li>
			<li>
				<a href="{{ path('groups') }}"><i class="fa-icon-group icon-white"></i><span class="hidden-tablet"> Groups</span></a>
			</li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<!-- end: Main Menu -->