{% extends 'AppSkeletonCmsBundle::base.html.twig' %}

{% block breadcrumb %}
	<li>
		<a href="#">attachments</a> <span class="divider">/</span>
	</li>
{% endblock %}

{% block body -%}
	<h1>Attachments list</h1>

	<table class="records_list">
		<thead>
		<tr>
			<th>Id</th>
			<th>Model</th>
			<th>Foreignkey</th>
			<th>Name</th>
			<th>Attachment</th>
			<th>Dir</th>
			<th>Type</th>
			<th>Size</th>
			<th>Active</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('attachments_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.model }}</td>
				<td>{{ entity.foreignKey }}</td>
				<td>{{ entity.name }}</td>
				<td>{{ entity.attachment }}</td>
				<td>{{ entity.dir }}</td>
				<td>{{ entity.type }}</td>
				<td>{{ entity.size }}</td>
				<td>{{ entity.active }}</td>
				<td>
					<ul>
						<li>
							<a href="{{ path('attachments_show', { 'id': entity.id }) }}">show</a>
						</li>
						<li>
							<a href="{{ path('attachments_edit', { 'id': entity.id }) }}">edit</a>
						</li>
					</ul>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path('attachments_new') }}">
				Create a new entry
			</a>
		</li>
	</ul>
{% endblock %}
