{% extends '::base.html.twig' %}

{% block breadcrumb %}
	<li>
		<a href="{{ path('attachments') }}">attachments</a> <span class="divider">/</span>
	</li>
	<li>
		<a href="#">show</a> <span class="divider">/</span>
	</li>
{% endblock %}

{% block body -%}
	<h1>Attachments</h1>

	<table class="record_properties">
		<tbody>
		<tr>
			<th>Id</th>
			<td>{{ entity.id }}</td>
		</tr>
		<tr>
			<th>Model</th>
			<td>{{ entity.model }}</td>
		</tr>
		<tr>
			<th>Foreignkey</th>
			<td>{{ entity.foreignKey }}</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>{{ entity.name }}</td>
		</tr>
		<tr>
			<th>Attachment</th>
			<td>{{ entity.attachment }}</td>
		</tr>
		<tr>
			<th>Dir</th>
			<td>{{ entity.dir }}</td>
		</tr>
		<tr>
			<th>Type</th>
			<td>{{ entity.type }}</td>
		</tr>
		<tr>
			<th>Size</th>
			<td>{{ entity.size }}</td>
		</tr>
		<tr>
			<th>Active</th>
			<td>{{ entity.active }}</td>
		</tr>
		</tbody>
	</table>

	<ul class="record_actions">
		<li>
			<a href="{{ path('attachments') }}">
				Back to the list
			</a>
		</li>
		<li>
			<a href="{{ path('attachments_edit', { 'id': entity.id }) }}">
				Edit
			</a>
		</li>
		<li>
			<form action="{{ path('attachments_delete', { 'id': entity.id }) }}" method="post">
				<input type="hidden" name="_method" value="DELETE" />
				{{ form_widget(delete_form) }}
				<button type="submit">Delete</button>
			</form>
		</li>
	</ul>
{% endblock %}
